.btn btn-warning{
  box-shadow: #8b0000 0px 0px 8px;
}
.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
  }

  body {
    font-family: 'Noto Serif', serif;
    transition: 5ms;
  }
 
  
  h1, h2, h3 {
    font-family: 'Noto Serif', serif;
  }
  
  .navbar-brand img {
    max-width: 80px;
  }
  
  .navbar-nav .nav-link {
    font-weight: bold;
    color: #900; 
  }

  .navbar-nav .nav-item .nav-link {
    color: #8b0000; 
    font-weight: 500; 
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #003366;
    background-color: transparent; 
    transition: color 0.3s ease; 
  }
  
  .navbar-nav .nav-item .nav-link.active {
    color: #900; 
    font-weight: bold; 
  }
  
  
  .navbar-nav .nav-link.active {
    color: #900;
  }
  
  .btn-outline-secondary {
    border-color: #900;
    color: #900;
  }

  .btn btn-warning{

    box-shadow: #810a0a 0px 0px 8px;
  }
  
  .btn-outline-secondary:hover {
    background-color: #900;
    color: white;
  }

  .about-section {
    background-color: #fff; 
    padding: 60px 0;
   
    background-repeat: repeat;
    
  }
  
  .section-title {
    font-size: 2.5rem;
    color: #900; 
    font-weight: bold;
    position: relative;
  }
  
  .section-title::before,
  .section-title::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #8b0000;
    margin: 0 10px;
  }
  
  .border-custom {
    border: 1px solid #900; 
    padding: 10px;
    box-shadow: #900 0px 4px 8px;
  }
  
  .about-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #555;
    padding: 20px;
    border: 2px solid #900;
    border-radius: 15px;
    background-color: #fff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .about-section .col-md-8 {
      margin-top: 20px;
    }
  }

  h2 {
    color: #b22222; 
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}
button{

  border-radius: 10px;
  transition: transform 0.3s ease;
}
h2::before, h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #b22222;
    display: inline-block;
    position: relative;
    top: -5px;
}

h2::before {
    margin-right: 10px;
}

h2::after {
    margin-left: 10px;
}

.card {
    border: none; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 10px;
    height: 200px; 
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.card-title {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
}

h2 {
    color: #b22222;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

h2::before, h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #b22222;
    display: inline-block;
    position: relative;
    top: -5px;
}

h2::before {
    margin-right: 10px;
}
.img-fluid{
border-radius: 50px;
border: solid 1px white;
box-shadow: #000 0px 4px 8px;
}

h2::after {
    margin-left: 10px;
}

.card {
    border: 1px solid #e0e0e0; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.card-img-top {
    border-radius: 10px; 
    height: 220px; 
    object-fit: cover; 
}

.card-body {
    padding: 15px; 
}

.card-title {
    font-size: 1.1rem;
    color: #810a0a;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 180px;
    }
}

.card {
  transition: transform 0.3s ease;


}
.realisations {
    text-align: center;
    padding: 50px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .grid-item {
    text-align: center;
    box-shadow: #000 opx 4px 8 px;
   

  }
  
  .grid-item img {
    max-width: 100%;
    height: auto;
    box-shadow: #000 0px 4px 8px;
    transform: translate(-5px);
  }

  .outils {
    text-align: center;
    padding: 50px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-content: center;
    border-radius: 50px;
    transform: translate(-5px);
  }
  
  .grid-item {
    text-align: center;
  }
  
  .grid-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: #000 10px;
    transform: scale(1.05);



  }

  .footer {
    background-color: #000080;
    color: #fff;
    padding: 30px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
}

.social-media {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-right: 10px;
}

.copy{
  background-color: #FFD700;
height:30px ;
text-align: center;
color: #8b0000;
}

.fin {
  text-decoration-color: #900;
}

input{
  width: 270px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.i{
  width: 90px;
}


body {
  font-family: 'Noto Serif', serif;
  transition: 5ms;
}


h1, h2, h3 {
  font-family: 'Noto Serif', serif;
}

.navbar-brand img {
  max-width: 80px;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #900; 
}

.navbar-nav .nav-item .nav-link {
  color: #8b0000; 
  font-weight: 500; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #003366;
  background-color: transparent; 
  transition: color 0.3s ease; 
}

.navbar-nav .nav-item .nav-link.active {
  color: #900; 
  font-weight: bold; 
}


.navbar-nav .nav-link.active {
  color: #900;
}

.btn-outline-secondary {
  border-color: #900;
  color: #900;
}

.btn btn-warning{

  box-shadow: #810a0a 0px 0px 8px;
}#contact {
    padding: 50px 0;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    max-width: 600px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .btn-submit {
    background-color: #000080; /* Bleu marine pour correspondre à la demande */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color:#8b0000;
  }
  
  /* Contact Info Styling */
  .contact-info {
    background-color: #8b0000;
    color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .contact-info i {
    margin-right: 10px;
  }
  
  .contact-info a {
    color: white;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }

/* Styles par défaut (desktop) sont ici */

/* Tablettes (largeurs max de 1024px) */
@media screen and (max-width: 1024px) {
  .navbar {
    padding: 10px;
  }

  .navbar-brand img {
    max-width: 60%;
  }

  .section-title {
    font-size: 2rem;
  }

  .about-section {
    padding: 20px;
  }
}

/* Mobiles large (largeurs max de 768px) */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }

  .navbar-brand img {
    max-width: 50%;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .about-section {
    padding: 15px;
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  button {
    width: 100%; /* Les boutons prennent toute la largeur */
  }
}

/* Mobiles petits (largeurs max de 480px) */
@media screen and (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .navbar-nav .nav-link {
    font-size: 0.8rem;
  }

  .about-section {
    padding: 10px;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .btn-outline-secondary {
    padding: 10px;
    font-size: 0.8rem;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}
